@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:lightgray;
    color :#333;
    font-family: 'Poppins', sans-serif;
}
#main-doc{
    margin-left: 400px;
    padding: 5px 16px;
    height: 1000px;
  
}
header{
   color: #222;
   font-size: 1.5em;
   font-weight: bolder;
   margin: 10px;
}
p,li{
    margin: 20px;
    font-weight: bold;
    line-height: 1.8em;
}

code{
    margin: 0 40px;
    background-color: rgb(179, 174, 174);
    padding: 5px;
    display: block;
    font-size: 1.1em;
}
span{
    display: inline-block;
    margin: 20px;
    color: rgb(211, 43, 52);
    text-align: left;
}
#navbar {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 360px;
    background-color: #838080;
    position: fixed;
    list-style: none;
    overflow-y: scroll;
    bottom: 0;
}

#navbar a{
    padding: 5px 10px;
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 600;
    
}
#navbar li{
    line-height: 1em;
    padding: 0px;
}
#navbar li:hover{
font-size: larger;
font-weight: bolder;
}
@media(max-width:700px){
    #navbar{
        max-width: 220px;
        font-size: small;
    }
    #navbar li{
    
        padding: 0px;
    }
    #main-doc{
        margin-left: 220px;
        
    }
    #navbar a{
        font-size: small;
       font-weight: bolder;
      
    }
}
@media(max-width:480px){
    #navbar{
        max-width: 150px;
        font-size: smaller;
        font-weight: lighter;
    }
    #navbar a{
        font-size: small;
       font-weight: bolder;
        text-align: left;
    }
    h1{
        font-size:medium;
    }
    #main-doc{
        margin-left: 150px;
        
    }
    code{
        font-size: small;
        margin: 0;
       
    }
}
